<nzo-page-layout>
  <nzo-page-header
    [content]="titleContent"
  ></nzo-page-header>
  <ng-template #titleContent>
    <h2>创建模板</h2>
    <div class="nzo-code-header">
      <p><i nz-icon nzType="setting" ></i> 配置模板、设置相关参数</p>
    </div>
  </ng-template>
  <nzo-page-content>
    <div class="ant-tmpl-container">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }}
          </ng-template>
          <textarea nz-input [(ngModel)]="html">

          </textarea>
        </nz-tab>
      </nz-tabset>
    </div>
  </nzo-page-content>
</nzo-page-layout>
