<div class="logo" [ngClass]="{'logo-inline': mode==='inline'}">
  <a routerLink="/">
    <img
      src="https://camo.githubusercontent.com/9fc690426bf04fad984b5a71424ecafc02528f51/68747470733a2f2f696d672e616c6963646e2e636f6d2f7466732f544231544646614841766f4b31526a535a467758586369434658612d3130362d3132302e737667">
    <h1>Ng Zorro Pro</h1>
  </a>
</div>
<ant-pro-levels-menu
  class="levels-menu"
  [menus]="menus"
  theme="dark"
  [mode]="mode"
  [selected]="selectedUrl"
  [inlineCollapsed]="collapsed"
  [class.ant-pro-menu]="mode==='inline'"
>
</ant-pro-levels-menu>

