<header class="ant-page-header">
  <div class="nzo-page-header-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs;let i = index">
        <a [href]="breadcrumb.router"
           *ngIf="breadcrumb.router && i !== (breadcrumbs.length-1);else planeTmpl">{{breadcrumb.name}}</a>
        <ng-template #planeTmpl>
          {{breadcrumb.name}}
        </ng-template>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</header>
<ng-template #contentTmpl>
  <h4 *ngIf="title">{{title}}</h4>
  <div class="nzo-page-desc">{{description}}</div>
</ng-template>
