<nz-layout class="layout">
  <nz-header *ngIf="layout.mode==='top'">
    <pro-navigation-bar class="ant-pro-top-nav"
      [selectedUrl]="currentUrl"
      [menus]="menus$|async"
      [collapsed]="layout.collapsed"
      mode="horizontal">
    </pro-navigation-bar>
  </nz-header>

  <nz-sider nzCollapsible nzWidth="256"
    *ngIf="layout.mode==='left'"
    [(nzCollapsed)]="layout.collapsed"
    [nzReverseArrow]="true"
    (nzCollapsedChange)="onChangeCollapsed($event)">
    <pro-navigation-bar
      [selectedUrl]="currentUrl"
      [menus]="menus$|async"
      [collapsed]="layout.collapsed"
      mode="inline">
    </pro-navigation-bar>
  </nz-sider>

  <nz-layout>
    <nz-header class="ant-pro-header" *ngIf="layout.mode==='left'">
      <i class="trigger" nz-icon
         [type]="layout.collapsed ? 'menu-unfold' : 'menu-fold'"
         (click)="layout.collapsed = !layout.collapsed"
      ></i>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <pro-layout-setting [(layout)]="layout"></pro-layout-setting>
</nz-layout>
