@import "theme";

.layout {
  min-height: 100%;
}

nz-sider {
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

nz-header {
  > div {
    display: flex;
    max-width: @screen-xl;
    margin: 0 auto;
    height: @layout-header-height;
    justify-content: space-between;

    .@{nzo-prefix}-top-nav {
      flex: 1 1;
      position: relative;
      overflow: hidden;

      ::ng-deep ul {
        position: absolute;
      }
    }
  }
}

.@{nzo-prefix}-header {
  padding: 0;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.@{nzo-prefix}-top-header {
  padding: 0;
}

.@{nzo-prefix}-top-nav {
  display: flex;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

::ng-deep {
  nz-content {
    position: relative;

    .@{ant-prefix}-layout {
      position: absolute;
      width: 100%;
      min-height: 100%;
    }
  }
}

.@{nzo-prefix}-content {
  ::ng-deep {
    .@{nzo-prefix}-page-header-container,
    .@{ant-prefix}-layout-content > .@{ant-prefix}-card {
      max-width: @screen-xl;
      margin: 0 auto;
    }
  }
}
