<nz-layout class="layout">
  <nz-header class="ant-pro-top-header" *ngIf="setting.layoutMode==='horizontal'">
    <div #header>
      <ant-pro-navigation-bar
        class="ant-pro-top-nav"
        [selectedUrl]="currentUrl"
        [menus]="menus"
        [collapsed]="isCollapsed"
        mode="horizontal">
      </ant-pro-navigation-bar>
      <ant-pro-global-header theme="dark"></ant-pro-global-header>
    </div>
  </nz-header>

  <ng-template [ngIf]="!setting.layoutMode || setting.layoutMode==='vertical'">
    <nz-sider nzWidth="256" nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzReverseArrow]="true"
      [nzBreakpoint]="'lg'"
      (nzCollapsedChange)="onChangeCollapsed($event)">
      <ant-pro-navigation-bar
        [selectedUrl]="currentUrl"
        [menus]="menus"
        [collapsed]="isCollapsed"
        mode="inline">
      </ant-pro-navigation-bar>
    </nz-sider>
  </ng-template>

  <nz-layout>
    <nz-header class="ant-pro-header" *ngIf="setting.layoutMode==='vertical'">
      <i class="trigger" nz-icon
         [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
         (click)="isCollapsed = !isCollapsed"
      ></i>
      <ant-pro-global-header></ant-pro-global-header>
    </nz-header>

    <nz-content [class.ant-pro-content]="setting.layoutMode==='horizontal'">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
      <ant-pro-global-footer></ant-pro-global-footer>
    </nz-footer>
  </nz-layout>
  <ant-pro-setting-drawer [setting]="setting"></ant-pro-setting-drawer>
</nz-layout>
