<nz-layout class="layout">
  <nz-header class="nzo-top-header" *ngIf="setting.layoutMode==='horizontal'">
    <div #header>
      <nzo-navigation-bar
        class="nzo-top-nav"
        [selectedUrl]="currentUrl"
        [menus]="menus"
        [collapsed]="isCollapsed"
        mode="horizontal">
      </nzo-navigation-bar>
      <nzo-global-header theme="dark"></nzo-global-header>
    </div>
  </nz-header>

  <ng-template [ngIf]="!setting.layoutMode || setting.layoutMode==='vertical'">
    <nz-sider nzWidth="256px" nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzBreakpoint]="'lg'"
      (nzCollapsedChange)="onChangeCollapsed($event)">
      <nzo-navigation-bar
        [selectedUrl]="currentUrl"
        [menus]="menus"
        [collapsed]="isCollapsed"
        mode="vertical">
      </nzo-navigation-bar>
    </nz-sider>
  </ng-template>

  <nz-layout>
    <nz-header class="nzo-header" *ngIf="setting.layoutMode==='vertical'">
      <i class="trigger" nz-icon
         [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
         (click)="isCollapsed = !isCollapsed"
      ></i>
      <nzo-global-header></nzo-global-header>
    </nz-header>

    <nz-content [class.nzo-content]="setting.layoutMode==='horizontal'">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
      <nzo-global-footer></nzo-global-footer>
    </nz-footer>
  </nz-layout>
  <nzo-setting-drawer [setting]="setting"></nzo-setting-drawer>
</nz-layout>
