@import "theme";
h3{
  font-size: 16px;
  font-weight: 500;
}
div{
  margin-top: @padding-sm;
}
i{
  margin-right: @padding-xs;
  &.success{
    color: @success-color;
  }
  &.error{
    color: @error-color;
  }
}

a{
  margin-left: @padding-xs;
}
