<nzo-page-layout>
  <nzo-page-header></nzo-page-header>
  <nzo-page-content nz-row class="nzo-profile-container">
    <section nz-col nzXs="24" nzSm="12" class="nzo-profile-item" nz-row>
      <div class="nzo-profile-label" nz-col nzXs="24" nzSm="8">名称</div>
      <div class="nzo-profile-value">设计工具</div>
    </section>
    <section nz-col nzXs="24" nzSm="12" class="nzo-profile-item" nz-row>
      <div class="nzo-profile-label" nz-col nzXs="24" nzSm="8">类型</div>
      <div class="nzo-profile-value">工具</div>
    </section>
    <section nz-col nzXs="24" nzSm="12" class="nzo-profile-item" nz-row>
      <div class="nzo-profile-label" nz-col nzXs="24" nzSm="8">描述</div>
      <div class="nzo-profile-value">这个工具设计的真丑</div>
    </section>
  </nzo-page-content>
</nzo-page-layout>
