<div class="nzo-fc-header">

</div>
<div class="nzo-fc-container" (mousedown)="selectedIndex = null">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
    <g transform="translate(0, 16)">
      <ng-container *ngFor="let data of modalGraphs">
        <g class="nzo-fc-rect-box" [ngStyle]="{transform: 'translate3d('+data.x+'px, '+data.y+'px, 0)'}"
           (mousedown)="onCopyGraph(data)">
          <path [attr.fill]="gradient(data.color)" [attr.stroke-width]="borderWidth"
                [attr.stroke]="data.color" [attr.d]="data.data"></path>
          <text class="iconfont" text-rendering="inherit" fill="rgba(0,0,0,.65)"
                text-anchor="middle" [attr.x]="data.dx" [attr.y]="data.dy" [ngStyle]="{fontSize:fontSize+'px'}"
                dominant-baseline="text-before-edge" [innerHTML]="data.text"></text>
        </g>
      </ng-container>
    </g>
    <line [attr.x1]="siderWidth" y1="0" [attr.x2]="siderWidth" y2="100%" stroke="#e6e9ed" stroke-width="1"></line>
    <g>
      <ng-container *ngFor="let data of flowGraphs;let i = index">
        <g id="react" class="nzo-fc-rect-box"
           cdkDrag cdkDragBoundary=".nzo-fc-container" (mousedown)="onSelected($event, i)"
           [ngStyle]="{transform: 'translate3d('+data.x+'px, '+data.y+'px, 0)'}">
          <path [attr.fill]="gradient(data.color, selectedIndex!==i?0.1:1)"
                [attr.stroke-width]="selectedIndex!==i?borderWidth:borderWidth"
                [attr.stroke]="data.color" [attr.d]="data.data"></path>
          <text class="iconfont" text-rendering="inherit" [attr.fill]="selectedIndex!==i?'rgba(0,0,0,.65)':'#fff'" [ngStyle]="{fontSize:fontSize+'px'}"
                text-anchor="middle" [attr.x]="data.dx" [attr.y]="data.dy" [attr.font-size]="fontSize"
                dominant-baseline="text-before-edge" [innerHTML]="data.text"></text>
        </g>
      </ng-container>
    </g>
    <g class="nzo-fc-rect-box nzo-fc-drag" cdkDrag *ngIf="copyData" (cdkDragStarted)="onDragStart($event)"
       (cdkDragEnded)="onDragEnd($event)" cdkDragBoundary=".nzo-fc-container">
      <path [attr.fill]="opacity(copyData.color)" [attr.stroke-width]="borderWidth" stroke-dasharray="5,5"
            [attr.stroke]="copyData.color" [attr.d]="copyData.data"></path>
    </g>
  </svg>
</div>
